/* contact */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contact .row .map{
    flex: 1 1 42rem;
    width: 100%;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: 4px;
}

.contact .row form{
    padding: 16px;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: 4px;
}

.contact .row form h3{
    font-size: 26px;
    color:var(--black);
    padding-bottom: 10px;
}

.contact .row form .box{
    width: 100%;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: none;
    border:var(--border);
    margin: 6px 0;
}

.contact .row form textarea{
    height: 150px;
    resize: none;
}