@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#1978a5;
    --light-yellow: #1fbfb8;
    --black: #031163;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);

    /* --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1); */
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 18px 50px;
}

.heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 26px;
    color:var(--black);
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 4px; 
    left:0;
    height: 100%;
    width: 100%;
    background: var(--light-yellow);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 6px 16px;
    background:var(--light-yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:var(--yellow);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; 
    left:0; 
    right:0;
    padding: 18px 50px;
    z-index: 1000;
    background: #fff;
}

.header .logo{
    font-size: 20px;
    color:var(--black);
    font-weight: bold;
}

.header .logo span{
    color:var(--yellow);
}

.header .navbar a{
    margin:0 16px;
    font-size: 14px;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--yellow);
}

#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 20px;
    color:var(--light-color);
}

.header.active{
    padding: 18px 50px;
    box-shadow: var(--box-shadow);
}

#menu-btn{
    font-size: 20px;
    color:var(--light-color);
    display: none;
}

.login-form-container{
    position: fixed;
    top:-105%; 
    left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin: 16px;
    text-align: center;
    padding: 16px;
    width: 400px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap: 16px;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin: 7px 0;
    width: 100%;
    font-size: 12px;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding: 6px 16px;
    border-radius: 5px;
}

.login-form-container form p{
    padding: 10px 0;
    font-size: 14px;
    color:var(--light-color);
}

.login-form-container form p a{
    color:var(--yellow);
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom: 14px;
    font-size: 18px;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: absolute;
    top: 10px; 
    right: 20px;
    font-size: 20px;
    color:var(--black);
    cursor: pointer;
}

.home{
    padding-top: 100px;
    text-align: center;
    overflow-x: hidden;
}

.home h3{
    color: var(--black);
    font-size: 36px;
    text-transform: uppercase;
}

.home img{
    width: 100%;
    margin: 16px 0;
} 

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #eee;
}

.icons-container .icons{
    background: #fff;
    display: flex;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 16px;
    gap: 15px;
}

.icons-container .icons i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 24px;
    color: var(--black);
    background: #eee;
    align-items: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 14px;
    color:var(--yellow);
}

.icons-container .icons .content p{
    font-size: 12px;
    color:var(--light-color);
}

.icons-container .icons:hover{
    background:var(--black);
}

.icons-container .icons:hover i{
    background:var(--yellow);
}

.icons-container .icons:hover .content h3{
    color:#fff;
}

.icons-container .icons:hover .content p{
    color:#eee;
}

/* vehicles */
.vehicles{
    margin-top: 60px
}

.vehicles .vehicles-slider{
    padding-bottom: 50px;
}

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box img{
    width:100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content{
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1);    
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3{
    font-size: 18px;
    color:var(--black);
}

.vehicles .vehicles-slider .box .content .price{
    font-size: 16px;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: bolder;
}


.vehicles .vehicles-slider .box .content .price span{
    color:var(--light-color);
    font-size: 14px;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    font-size: 14px;
    color:var(--light-color);
    padding: 16px 0;
    padding-top: 12px;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span{
    font-size: 1rem;
    color:var(--yellow);
    padding:0 .5rem;
}

.swiper-pagination-bullet-active{
    background: var(--yellow);
}
      
/* services */
.services .box-container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.services .box-container .box{
    padding: 20px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}

.services .box-container .box i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 26px;
    margin-bottom: 1rem;
    background:var(--yellow);
    color:var(--black);
}

.services .box-container .box h3{
    font-size: 14px;
    color:var(--black);
}

.services .box-container .box p{
    /* line-height: 1.2; */
    padding: 10px 0;
    font-size: 12px;
    color:var(--light-color);
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container .box:hover h3{
    color:#fff;
}

.services .box-container .box:hover p{
    color:#eee;
}

/* featured */
/* .featured{
    margin-top: 60px;
} */
.featured .featured-slider{
    padding: 16px 0;
    padding-bottom: 40px;
}

.featured .featured-slider .box{
    padding:2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.featured .featured-slider .box img{
    height: 150px;
}

.featured .featured-slider .box:hover img{
    transform: scale(.9);
}

.featured .featured-slider .box .content h3{
    font-size: 14px;
    color:var(--black);
}


.featured .featured-slider .box .content .stars{
    padding: 10px 0;
}

.featured .featured-slider .box .content .stars i{
    font-size: 12px;
    color:var(--yellow);
}

.featured .featured-slider .box .content .price{
    font-size: 16px;
    color:var(--black);
}

/* news */
.newsletter{
    padding: 60px 20px;
    background: url(../image/letter-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.newsletter h3{
    font-size: 28px;
    color:var(--black);
}

.newsletter p{
    font-size: 16px;
    color:var(--light-color);
    padding: 10px 0;
}

.newsletter form{
    max-width: 600px;
    height: 46px;
    background:#fff;
    border-radius: 4px;
    overflow:hidden;
    display: flex;
    margin: 10px auto;
    box-shadow: var(--box-shadow);
}

.newsletter form input[type="email"]{
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    color:var(--black);
    text-transform: none;
}

.newsletter form input[type="submit"]{
    height: 100%;
    width: 150px;
    font-size: 16px;
    color:var(--black);
    background: var(--light-yellow);
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
    background: var(--yellow);
}   

/* reviwes */
.reviews .review-slider{
    padding-bottom: 30px;
}

.reviews .review-slider .box{
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    opacity: .4;
    transform: scale(.9);
}

.reviews .review-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: 4px;
}

.reviews .review-slider .box img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .review-slider .box .content p{
    color:var(--light-color);
    font-size: 12px;
    padding: 10px 0;
}

.reviews .review-slider .box .content h3{
    color:var(--black);
    font-size: 16px;
    padding-bottom: 5px;
}

.reviews .review-slider .box .content .stars i{
    color:var(--yellow);
    font-size: 14px;
}

/* contact */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contact .row .map{
    flex: 1 1 42rem;
    width: 100%;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: 4px;
}

.contact .row form{
    padding: 16px;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: 4px;
}

.contact .row form h3{
    font-size: 26px;
    color:var(--black);
    padding-bottom: 10px;
}

.contact .row form .box{
    width: 100%;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: none;
    border:var(--border);
    margin: 6px 0;
}

.contact .row form textarea{
    height: 150px;
    resize: none;
}

/* footer */
.footer{
    background: var(--light-yellow);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 15px;
}

.footer .box-container .box h3{
    font-size: 16px;
    padding: 10px 0;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    font-size: 14px;
    padding: 6px 0;
    color:var(--light-color);
}

.footer .box-container .box a i{
    padding-right: 5px;
    color:var(--black);
}

.footer .box-container .box a:hover i{
    padding-right: 16px;
}

.footer .credit{
    text-align: center;
    padding-top: 10px;
    border-top: var(--border);
    font-size: 12px;
    color:var(--black);
}










@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}